<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />

	  <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
	  <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
	<MsmqTransportConfig ErrorQueue="miljoparkering.test.worker.error" NumberOfWorkerThreads="1" MaxRetries="-1">
		<!--
    InputQueue: This is my MSMQ queue where I look for messages and subscription requests for messages that I publish.
    ErrorQueue: This is where a message will be placed when I give up the thought of ever being able to process it.
    MaxRetries: This is how many times I will retry a failed message before giving up and placing it in the ErrorQueue. 
    -->
	</MsmqTransportConfig>
	<!--<UnicastBusConfig>
		<MessageEndpointMappings>
			<add Messages="events" Endpoint="sample.server" />
		</MessageEndpointMappings>
	</UnicastBusConfig>-->

</configuration>